/* Fonts */
$font-stack: "SF Pro Display", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

/* Colors */
$color-bg: #ebf3fa;
$color-dark-bg: #131313;
$purple: #7722ff;
$gradient: linear-gradient(to right, #9c0eff, #2640de);
