/* Fonts */
$font-stack: "SF Pro Display", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

/* Colors */
$color-bg: #ebf3fa;

/* Reset */
html, body {
	margin: 0;
	padding: 0;
}

/* Default props */
body {
	font-family: $font-stack;
	background: $color-bg;

	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

/* Grids */
.grid-12 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}
