html, body {
	margin: 0;
}

body {
	padding-bottom: 50vh;
	background: white;
}

h1 {
	margin-bottom: 100vh;
}

div.demo {
	background: black;
	border-radius: 30px;
	width: 40%;
	height: 300px;
	margin: 0 auto;
}
