@use "base";

header {
	grid-column: 2 / 12;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0;

	img {
		height: 2.1rem;
		margin-right: 4rem;
	}

	ul {
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		li {
			display: block;
			font-weight: bold;
			text-transform: uppercase;
			color: #084382;
			font-size: 1.1rem;
			margin-left: 3rem;
		}
	}
}
