@use "base";

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	align-items: center;
	padding: 0.5rem 0;
	box-shadow:  8px 8px 22px #d7dfe5, -8px -8px 22px #fdffff;

	a:first-child {
		grid-column: 2 / 4;

		img {
			height: 2.6rem;
		}
	}

	nav {
		grid-column: 4 / 12;

		ul {
			margin: 0;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			li {
				display: block;
				color: #084382;
				white-space: nowrap;

				&:not(:first-child) {
					margin-left: 5vw;
				}

				a {
					text-decoration: none;
				}

				h3 {
					margin: 0;
					font-size: 1.2rem;
				}
			}
		}
	}
}
