@use "base";

header {
	position: fixed;
	background: base.$color-bg;
	z-index: 100;
	top: 0;
	left: 0;
	height: 4rem;
	align-items: center;
	padding: 0.5rem 0;
	// box-shadow:  8px 8px 22px #d7dfe5, -8px -8px 22px #fdffff;

	a:first-child {
		grid-column: 2 / 4;
		display: flex;

		img {
			height: 2rem;
		}
	}

	nav {
		grid-column: 4 / 12;

		ul {
			margin: 0;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			li {
				display: block;
				white-space: nowrap;

				&:not(:first-child) {
					margin-left: 5vw;
				}

				a {
					text-decoration: none;
				}

				h3 {
					margin: 0;
					color: #000;
					font-size: 1.2rem;
				}
			}
		}
	}
}
