@use "base";

section#hero {
	min-height: 80vh;
	background: url("../img/homefond.webp") no-repeat right top;
	background-size: 59vw 100%;

	div {
		margin-top: 10vh;
		grid-column: 2 / 8;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		h1 {
			font-weight: 800;
			font-size: 3.5rem;
			margin: 15vh 0;
			margin-bottom: 3rem;
			background: base.$gradient;
			-webkit-background-clip: text;
			background-clip: text;
			color: transparent;
		}

		p {
			font-size: 1.3rem;
			font-weight: normal;
			margin-bottom: 3rem;
		}
	}

	.illustration-container {
		grid-column: 8 / 13;
		padding-top: 4rem;
		background: url("../img/bad_shadow.webp") no-repeat center center;
		background-size: auto 65vh;
	}
}
