html, body {
    margin: 0;
    padding: 0;
}

header {
    width: 1550px;
    background-color: #ebf3fa;
    display: flex;
    align-items: center;
}

header img {
    padding: 0;
    margin-left: 170px;
    height: 2.1rem;
}

.navList {
    margin: 0;
    display: flex;
    justify-content:flex-end;
    list-style: none;
    text-transform: uppercase;
    color: #084382;
}

.navElement {
    margin-right: 170px;
    padding: 50px 0;
}

.navElement:nth-child(1){
    margin-left: 200px;
}