@use "base";

section#showcase {
	border-top: 3px solid red;
	height: 500vh;
	padding-top: 3.5rem;
	grid-column: 1 / 13;

	#showcase-wand {
		grid-column: 2 / 6;
		height: calc(100vh - 4rem);

		background: url("../img/wand.png") no-repeat center center;
		background-size: auto 90vh;

		transform: scale(1.0);
		transition: transform 0.4s ease;

		position: sticky;
		top: 4rem;

		&.enlarged {
			transform: scale(3);
		}
	}

	#enlarge-trigger {
		grid-column: 7 / 12;
		margin-top: 170vh;

		height: 400px;

		h1 {
			font-size: 4rem;
		}
	}
}
