@use "base";

section#showcase {
	padding-top: 3.5rem;
	margin-bottom: 20vh;

	#showcase-wand {
		grid-column: 2 / 6;
		height: calc(100vh - 4rem);


		transform: scale(1.0);
		transition: transform 0.4s ease;

		position: sticky;
		top: 4rem;

		&::before, &::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 0;
			transition: opacity 0.7s ease-out;
		}

		&::before {
			background: url("../img/happy_wand.png") center center / auto 90vh no-repeat;
			z-index: 3;
		}

		&::after {
			background: url("../img/wand.png") center center / auto 90vh no-repeat;
			opacity: 1;
			z-index: 2;
		}

		&.enlarged {
			transform: scale(3);

			&::before {
				opacity: 1;
			}
		}

		&.reversed {
			width: (100vw / 12) * 6;
			transform: translateX((100vw / 12) * 5);

			&::before {
				transition: opacity 0s;
			}

			&::after {
				background: url("../img/charger_bad.png") center center / auto 80vh no-repeat;
				opacity: 1;
			}
		}
	}

	div.scroller-container {
		grid-column: 7 / 12;
		height: 150vh;

		&:not(:nth-child(2)) {
			padding-top: 50vh;
		}

		&.reversed {
			grid-column: 2 / 7;
		}

		article {
			position: sticky;
			top: 40vh;

			h1 {
				font-size: 4rem;
			}
		}
	}
}
